<mat-card class="col-md-12">
  <mat-card-header class="col-md-12">
      <mat-card-title>{{ clientId > 0 ? 'Editar Cliente' : 'Crear Cliente' }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="formClient">
    <mat-form-field class="col-md-6">
        <input matInput placeholder="ID" [value]="clientId" disabled>
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput placeholder="Nombre" formControlName="clientDesc" required>
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput placeholder="Descripción" formControlName="nit" required>
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <input matInput placeholder="Fecha Nacimiento" formControlName="birthday" type="date" required>
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <input matInput placeholder="Direccion" formControlName="address" required>
    </mat-form-field>

  <mat-form-field class="col-md-6">
    <input matInput placeholder="Telefono" formControlName="phone" required>
</mat-form-field>

    <mat-form-field class="col-md-6">
        <mat-label>Seleccione el estado</mat-label>
        <mat-select formControlName="statusId" required>
            <mat-option *ngFor="let option of optionsStatus" [value]="option.id">
                {{option.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="col-md-12 text-center">
      <div class="ml-auto button-row">
          <button mat-raised-button color="primary" (click)="upsert()" [disabled]="!formClient.valid" type="submit">Guardar</button>
          <button (click)="close()" mat-raised-button color="warn">Cancelar</button>
      </div>
  </div>
  </form>

</mat-card>
